/* reset.css */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1.5;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
}

table,
td,
th {
    vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

a img {
    border: none;
}

/* document */

html {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    min-height: 100vh;
}

/* header */

header {
    background-image: url(images/Layer-759_02.jpg);
    background-size: cover;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    padding: 10px 33px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

nav {
    width: 70%;
    margin: 0 auto 60px auto;
    text-align: center;
    background-color: #BA925E;
}

header h1 {
    text-transform: uppercase;
    font-size: 350%;
    color: white;
}

header p {
    color: white;
    font-size: 150%;
    margin: 15px auto 0 auto;
    width: 30%;
    text-align: center;
}

header button {
    margin-top: 10px;
    margin-bottom: 200px;
    padding: 10px;
    border-radius: 10px;
    border-width: 0;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 80%;

    &:hover {
        color: black;
        background-color: #BA925E;
        cursor: pointer;

        .fa-chevron-right {
            color: black;
        }
    }
}

.fa-chevron-right {
    color: #BA925E;
}

/* main */

/* industries */

.services {
    text-align: center;
    padding-top: 20px;
}

.services h1 {
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px;
}


.services ul li {
    display: inline-block;
    width: 30%;
    text-align: left;
    padding: 10px 10px 40px 10px;
}

.services ul li article {
    width: 83%;
    float: right;
    margin-top: 10px;
}

.services ul li article h5 {
    font-weight: bold;
    font-size: 110%;
    padding-bottom: 10px;
}

.services ul li article p {
    line-height: 1em;
}

.services ul li span i {
    font-size: 150%;
    border-radius: 50%;
    background-color: #090820;
    color: white;
}

.fa-plane {
    transform: rotate(-45deg);
    padding: 23px 10px;
}

.fa-cart-shopping,
.fa-arrow-up-right-dots,
.fa-building-columns,
.fa-truck {
    padding: 22px 10px;
}

.fa-lightbulb {
    padding: 22px 13px;

}

.helpEnterpreneurs {
    position: relative;
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.helpEnterpreneurs::before {
    content: "";
    background-image: url(images/steel-bg.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

.helpEnterpreneurs p {
    position: relative;
    margin: auto;
    width: 40%;
    text-align: center;
    font-size: 140%;
    font-weight: bold;

    &::first-line {
        color: #BA925E;
    }
}

/* whyTradersChooseUs */

.whyTradersChooseUs {
    position: relative;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.whyTradersChooseUs::before {
    content: "";
    background-image: url(images/background-choose-us.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    filter: brightness(50%);
}


.content ul {
    display: flex;
    justify-content: center;
}

.content h2 {
    position: relative;
    margin: auto;
    font-size: 250%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.content ul li {
    position: relative;
    display: inline-block;
    padding: 25px 15px;
    margin-bottom: 30px;
    width: 20%;
    border: 2px solid #BA925E;

    &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
    }
}

.content ul li:not(:last-child) {
    margin-right: 20px;
}

.content ul li h4 {
    padding-bottom: 8px;
    font-size: 130%;
}

.content ul li p {
    text-align: left;
    font-size: small;
}

/* founderMessage */

/* .founderMessage {
    position: relative;
    overflow: hidden;
}

.founderMessage img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
} */

.founderMessage {
    position: relative;
    height: 72vh;
    width: 100%;
    display: flex;
    justify-content: right;
}

.founderMessage::before {
    content: "";
    background-image: url(images/consulting-woman.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/* .message {
    width: 30%;
    height: 280px;
    position: relative;
    float: right;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 40px 30px;
}

.message::after {
    content: '';
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
} */

.message {
    position: relative;
    height: 70%;
    width: 30%;
    justify-content: right;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 40px 30px;
}

.message::before {
    content: "";
    background-color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}


.message>p {
    position: relative;
    font-size: 90%;
    text-indent: 2px;

    &::before {
        content: '\201C';
        color: #BA925E;
        padding-bottom: 3px;
    }

    &::after {
        content: '\201D';
        color: #BA925E;
    }
}

.founder {
    position: relative;
    width: 100%;
    height: 78%;
    margin-top: 12px;
    background-color: black;
    color: white;
}

.founder div {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.founder div:first-child {
    margin-top: 30px;
    font-size: 160%;
}

.founder div:last-child {
    float: right;
    font-size: 80%;
    color: grey;
    margin-top: 5px;
}

/* partners */

.partners {
    padding: 40px 0 10px 0;
    text-align: center;
}

.partners img {
    display: inline-block;
    width: 120px;
    height: 50px;
}

/* footer */

footer {
    padding: 10px 80px 50px 80px;
    background-color: black;
    color: white;
    text-align: center;
}

footer div {
    width: 25%;
    display: inline-block;
}

footer div h6 {
    font-weight: bold;
    font-size: 120%;
    text-align: left;
}

.consulting {
    float: left;
}

.contact {
    margin-top: 15px;
    margin-left: 20px;
    list-style-type: none;
    text-align: left;
}

.contact li {
    font-size: small;
    padding-bottom: 10px;
    line-height: 1.2em;
}

.socialMedia {
    float: right;
    margin-right: 70px;
}

.socialMedia li {
    display: inline-block;
}

.socialMedia li:not(:last-child) {
    padding-right: 15px;
}

.socialMedia li i {
    background-color: grey;
    border-radius: 50%;
    color: black;
}

.fa-facebook-f,
.fa-linkedin {
    padding: 10px 8px;
}

.fa-twitter {
    padding: 11px 8px;
}

.fa-youtube {
    padding: 10px 6px;
}


.footerNav ul {
    list-style-type: none;
    text-align: left;
    display: inline-block;
    margin-top: 10px;
}

.footerNav ul:last-child {
    float: right;
    margin-right: 90px;
}

.footerNav ul li a {
    text-decoration: none;
    font-size: small;
    color: #BA925E;
}

.instagramWidget {
    float: right;
}

.instagramWidget h6 {
    margin-bottom: 10px;
    margin-left: 20px;
}

.instagramWidget ul {
    float: right;
    margin: 0;
    padding: 0;
}

.instagramWidget ul li {
    float: left;
    list-style-type: none;
    width: 75px;
    height: 75px;
    margin: 0;
    padding: 0;
}

.instagramWidget ul li img {
    width: 100%;
    height: 100%;
}