html {
    background-color: #eeeeee;
}

body {
    font-family: Tahoma, Helvetica, sans-serif;
    width: 800px;
    margin: 10px auto;
    padding: 20px 40px;
    background-color: white;
}

h1 {
    font-size: 24px;
    text-align: center;
}

p {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eeeeee;
    text-align: center;
    
}

body > div {
    display: inline-flex;
    width: 30%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

div > * {
    width: 100%;
}

form > * {
    width: 100%;
    margin: 8px 0;
}

form > div:first-of-type {
    margin-top: 15px;
}

input {
    border: 2px solid #eeeeee;
    border-radius: 5px;
    height: 30px;
    padding: 5px 50px 5px 10px;
}

.true, .false {
    display: inline-block;
    position: relative;

    &::after {
        position: absolute;
        top: 8px;
        left: 265px;
        font-family: 'FontAwesome';
        content: '\f00c';
        padding: 2px 4px;
        background-color: #00e900;
        color: white;
        font-size: 23px;
    }
}

.false {
    &::after {
        content: '\f00d';
        background-color: red;
    }
   
}

.new-account {
    margin-left: 50px;
}

form label:first-child {
    font-weight: bold;
}

.checkbox-area {
    display: inline-flex;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 0;
    filter: brightness(92%);
}

.checkbox-area label {
    font-size: 12px;
    margin-left: 5px;
}

.login {
    float: right;
    margin-right: 100px;
}

a {
    margin-left: 2px;
    font-size: 13px;
    color: red;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

form > input:last-of-type {
    width: 170px;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    border: 1px solid grey;
    box-shadow: 3px 4px #eeeeee;

    &:hover {
        background-color: #afdf67;
        cursor: pointer;
    }
}

.login form > input:last-of-type {
    width: 100px;
}

