.create_section {
    width: 100%;
    float: left;
    height: auto;
    text-align: center;
}

.create_section h1 {
    padding: 30px;
    font-size: 40px;
    color: #ffff;
    background-color: #fabc26;
    text-transform: uppercase;
}

.create-wrapper {
    width: 900px;
    height: auto;
    padding: 10px;
    margin: 40px auto;
    display: block;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: black;
    background-color: #fabc26;
}

.create-wrapper button, .create-wrapper > label, .create-wrapper > label input, .create-wrapper p, .create-wrapper div label {
    margin: auto;
    display: block;
}

.create-wrapper button, .create-wrapper label, .create-wrapper div label{
    margin: 10px auto;
}

.create-wrapper p label, .create-wrapper div label input{
    margin-left: 10px;
}

.create-wrapper p label input {
    margin-right: 5px;
}

.create-wrapper > label input, .create-wrapper p {
    width: 300px;
}

.create-wrapper p {
    text-align: left;
}

.create-wrapper button {
    margin: 20px auto;
    width: 150px;
    height: 70%;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
    background-color: #fff;
    text-transform: uppercase;
}

.create-wrapper button:hover {
    color: #fff;
    background-color: black;
}

